h2 {
    color:red;
    font-size: 16px;
    font-family: lobster, monospace;
}
p.green-background {
    background-color: lightgray;
    font-family: monospace;
}
.red-text {
    color: red;
}
.thick-green-border {
    width: 500px;/*Subtask 9*/
    border-radius: 50% ;/*Subtask 12*/
    border-style: solid;/*Subtask 11*/
    border-color: green;/*Subtask 11*/
}
.silver-background {
    background-color: silver;/*Subtask 13*/
}
#cat-photo-app {
    color:green;
}