h2 {
    color:red;
    font-size: 16px;
    font-family: lobster, monospace;
}
p.green-background {
    background-color: lightgray;
    font-family: monospace;
}
.red-text {
    color: red;
}
.thick-green-border {
    width: 500px;/*Subtask 9*/
    border-radius: 50% ;/*Subtask 12*/
    border-style: solid;/*Subtask 11*/
    border-color: green;/*Subtask 11*/
}
.silver-background {
    background-color: silver;/*Subtask 13*/
}
#cat-photo-app {
    color:green;/*Subtask 14*/
    background-color: gray;/*Subtask 15*/
}
.padding-main {
    padding: 10px;/*Subtask 16*/
    text-align: center;
    background-color: yellow;
    color: black;
    border: 5px solid black;
}
.padding-red {
    padding: 1.5em;/*Subtask 24*/
    border: 5px solid black;
    background-color: red;
    margin: 20px;/*Subtask 17*/
}
.padding-blue {
    padding: 40px 20px 20px 40px;/*Subtask 21*/
    border: 5px solid black;
    background-color: blue;
    margin: 40px 20px 20px 40px;/*Subtask 22*/
}
#cat-photo-form /*Subtask 23*/
[type="radio"] {
    margin-top: 10px;/*Subtask 23*/
    margin-bottom: 15px;/*Subtask 23*/
}
body {
    background-color: black;/*Subtask 25*/
}